.contactos-page {
  --background: #f5f7fb;
}

.contenedor-contactos {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 20px;
}

.titulo-contactos {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}

.lista-contactos {
  background: transparent;
}

.contacto-item {
  --background: rgb(40, 9, 82);
  --border-radius: 15px;
  --padding-start: 18px;
  --padding-end: 12px;
  margin-bottom: 12px;

  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.contacto-nombre {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.contacto-dato {
  margin: 3px 0;
  color: #020202;
}

.boton-eliminar {
  --border-radius: 10px;
}

.botones {
  margin-top: 25px;
}

.boton-agregar {
  --border-radius: 12px;
  height: 48px;
}

.boton-eliminar-todos {
  --border-radius: 12px;
  height: 45px;
}